
@media only screen and (max-width:600px){
    body{
        padding: 0 !important;
        margin: 0 !important;
        overflow-x: hidden !important;
    }
    #nav-1{
        display: none !important;
        position: relative;
    }
    #whatsapp{
        position: relative;
        right: 45px;
    }
    #num-link{
        position: absolute;
        left: 10px;
        
        
    }
    #Niger{
        position: absolute;
        margin: none !important;
        right: 20px ;
    }

    #nav-2{
        display: none;
        /* position: sticky; */
        /* border: thin solid red; */
        padding: 20px !important;
    }

    #sticky-nav{
        position: sticky;
        /* background-color: wheat !important; */
        /* border: thin solid red; */
        padding: 20px !important;
    }
    #printivo{
        width: fit-content;
        transform: translateX(-80px);
    }
    #sign-in{
        position: absolute;
        right: 0;
    }
    #cart{
        position: absolute;
        right: 60px;
    }
    #hand{
        display: none;
    }
    #quality-section{
        padding-left: 20px;
    }
    #quality{
        padding-bottom:15px;
        text-align: start;
        font-size: 50px;
        width: 80vw;
    }
    #shipped{
        word-spacing: 2px;
    }
    #label{
        width: 80vw;
    }
    #inpo{
        display: contents !important;
    }
    #input{
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        font-size: 20px !important;
        /* border: thin solid; */
    }
    #input::placeholder{
        margin: 0 !important;
        padding: 0 !important;
        width: 350px !important;
        font-size: 16px !important;
        /* border: thin solid; */
        outline: none;
    }
    #search-icon{
        border: thin solid red !important;
        position: relative;
        left: 50px;
        width: 50px;
    }
    #search-input{
        margin: 0 !important;
        position: relative !important;
        left: -10px !important;
        height: 60px;
        border: thin solid;
    }
    #section-tech{
        margin: 0 !important;
        padding: 0 !important;
    }
    #tech{
        margin: 0 !important;
        padding: 0 !important;
        width: 50vw !important;
    }
    #read{
        font-size: 20px !important;
    }
    #blue-footer{
        margin: 0 !important;
        padding: 0 !important;
    }
    #print{
        padding: 40px 0 20px 20px;
    }
    #help{
        padding: 20px;
    }
    #make{
        padding: 20px;
    }
    #payment{
        padding: 20px;
    }
    #dropdownMenuButton2{
        background: #F7279E;
        color: antiquewhite;
    }
    #bus-name{
        font-size: 20px !important;
    }
    #bus-name::placeholder{
        margin: 0 !important;
        padding: 0 !important;
        width: 350px !important;
        font-size: 16px !important;
        /* border: thin solid; */
    }
    #email{
        font-size: 20px !important;
    }
    #email::placeholder{
        margin: 0 !important;
        padding: 0 !important;
        width: 350px !important;
        font-size: 16px !important;
        /* border: thin solid; */
    }
}